<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Дашборд СИКН 928</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <main class="layout">
      <section class="charts-column">
        <h1>📊 Дашборд СИКН 928</h1>
        <p>ИЛ №7</p>

        <div class="card chart-card"><canvas id="qilChart"></canvas></div>

        <section class="table-column card" id="metricsCard">
          <div class="table-header-row">
            <h2>Средние значения</h2>
          </div>
          <table>
            <thead>
              <tr>
                <th class="signal-col">Абсолютная<br />погрешность</th>
                <th class="signal-col">Относительная<br />погрешность</th>
                <th>Расход<br />по ИЛ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="meanMaeCell" class="signal-col">—</td>
                <td id="meanMapeCell" class="signal-col">—</td>
                <td id="meanQilPredCell">—</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
